<% include ../partials/header %>
<div id="show-meal">
    <div class="flexboxx">
        <section class="temp">
                <div id="user-index"><em>Submited by <span><%= recipe.author.username %></span></em></div>
        <div class="tags">
            <div class="time">
                <Strong><%= recipe.time %></Strong>
                <span><img src="/images/fa-solid_clock.svg" alt=""></span>
            </div>
            <div class="price">
                <Strong><%= recipe.price %></Strong>
                <span><img src="/images/fa-solid_money-bill-alt.svg" alt=""></span>
            </div>
        </div>
        <img class="show-image" src="<%= recipe.image %>" alt="">
        <% if(currentUser && recipe.author.id.equals(currentUser._id)){ %>
        <div class="recipe-controls">
            <form action="/recipes/<%= recipe._id %>?_method=delete" method="POST">
                <button class="btn-delete" ><img src="/images/ant-design_delete-fill.svg" alt=""></button>
            </form>
            <a class="btn-edit" href="/recipes/<%= recipe._id %>/edit"><img src="/images/dashicons-edit-large.svg" alt=""></a>
        </div>
        <% } %>
        <div class="show-rating">
            <span><img src="/images/Star.svg" alt=""></span>
            <span><img src="/images/Star.svg" alt=""></span>
            <span><img src="/images/Star.svg" alt=""></span>
            <span><img src="/images/Star.svg" alt=""></span>
            <span><img src="/images/Star.svg" alt=""></span>
        </div>

        <h1><%= recipe.name %></h1>
        </section>
    </div>
    <hr>
    <div class="text-content">
        <h2>Ingredients</h2>
        <p id="ingredients-content"><%= recipe.ingredients %></p>
    </div>
    <div class="text-content">
        <h2>Method</h2>
        <p id="recipe-content"><%= recipe.method %></p>
    </div>
</div>


<% include ../partials/footer %>