<% include ../partials/header %>
<div id="show-meal">
    <div class="flexboxx">
        <section class="temp">
                <div id="user-index"><em>Submited by <span><%= recipe.author.username %></span></em></div>
        <div class="tags">
            <div class="time">
                <Strong><%= recipe.time %></Strong>
                <span><img src="/images/fa-solid_clock.svg" alt=""></span>
            </div>
            <div class="price">
                <Strong><%= recipe.price %></Strong>
                <span><img src="/images/fa-solid_money-bill-alt.svg" alt=""></span>
            </div>
        </div>
        <img class="show-image" src="<%= recipe.image %>" alt="">
        <% if(currentUser && recipe.author.id.equals(currentUser._id)){ %>
        <div class="recipe-controls">
            <form action="/recipes/<%= recipe._id %>?_method=delete" method="POST">
                <button class="btn-delete" ><img src="/images/ant-design_delete-fill.svg" alt=""></button>
            </form>
            <a href="/recipes/<%= recipe._id %>/edit"><img src="/images/dashicons-edit-large.svg" alt=""></a>
        </div>
        <% } %>
        <form class="show-rating" method="POST" action="/recipes/<%= recipe._id %>/rating?_method=PUT">
                <div class="rating">
                <label>
                  <input type="radio" name="stars" value="1" <% if(recipe.rating == 1){ %> checked <% } %>/>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="2" <% if(recipe.rating == 2){ %> checked <% } %>/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="3" <% if(recipe.rating == 3){ %> checked <% } %>/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>   
                </label>
                <label>
                  <input type="radio" name="stars" value="4" <% if(recipe.rating == 4){ %> checked <% } %>/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                <label>
                  <input type="radio" name="stars" value="5" <% if(recipe.rating == 5){ %> checked <% } %>/>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                  <span class="icon">★</span>
                </label>
                </div>
                <% if(currentUser && recipe.userRatings.indexOf(currentUser._id) <= -1){%>
                <button class="btn-primary">Submit</button>
                <% }else if(currentUser){ %> 
                    <div>Rated</div>
              <%  } %>
              </form>
        <h1><%= recipe.name %></h1>
        </section>
    </div>
    <hr>
    <div class="text-content">
        <h2>Ingredients</h2>
        <p id="ingredients-content"><%= recipe.ingredients %></p>
    </div>
    <div class="text-content">
        <h2>Method</h2>
        <p id="recipe-content"><%= recipe.method %></p>
    </div>
</div>

<section id="comment-section">
    <h3>Comment Section</h3>
    <% if(currentUser){ %>
    <form id="comment-area" action="/recipes/<%= recipe._id %>/comments/" method="POST">
        <textarea name="comment[text]" cols="30" rows="10"></textarea>
        <button class="btn-primary">Submit</button>
    </form>
    <% } %>
    <% for(let i = 0; i < recipe.comments.length; i++){%>
    <div class="comment-container">
        <img class="user-avatar" src="/images/fa-solid_user-alt.svg" alt="">
        <div class="comment">
            <div>
                <strong><%= recipe.comments[i].author.username %>: </strong>
                <span><%= recipe.comments[i].text %></span>
            </div>
            <div class="temp-name">
                <span class="date-posted"><%= moment(recipe.comments[i].createdAt).fromNow() %></span>
                <% if(currentUser && currentUser.username === recipe.comments[i].author.username){ %>
                <form action="/recipes/<%= recipe._id %>/comments/<%= recipe.comments[i]._id %>?_method=delete" method="POST">
                    <button class="delete-btn"><img src="/images/ant-design_delete-fill.svg" alt=""></button>
                </form>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>
</section>


<% include ../partials/footer %>